


.aboutLeft {
    width: 50%;
    padding-right: 24px;
    box-sizing: border-box;
}

.aboutRight {
    background-color: blueviolet;
    width: 50%;
    padding-left: 24px;
    box-sizing: border-box;
}

/* Стилизация основного элемента scrollbar */
