
.allAboutItem {
    display: flex;
    justify-content: space-between;
    
}

.aboutLeft {
    width: 50%;
    padding-right: 20px;
    box-sizing: border-box;
}
 
.aboutRight {
    width: 50%;
    padding-left: 20px;
    box-sizing: border-box;
}

.titleBlock {
    box-sizing: border-box;
    width: 100%;
    min-height: 70px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}

.title {
    font-weight: 500;
    font-size: 25px;
}
.ratingBlock {
    margin-top: 5px;
    display: flex;
}

.buyOptionsBlock {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}

.sellerInfo {
    width: 100%;   
    font-size: 16px;
    height: 30px;
    border-bottom: 1px solid lightgray;
}
.sellerInfo a:hover {
    color: brown;
}

.descriptionTitle {
    font-size: 30px;
    font-weight: 500;
    padding-left: 5px;
}
.descriptionText {
    line-height: 1.5;
    font-size: 16px;
}


.buyOptions {
    display: flex;
    align-items: end;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.priceAndAviable {
    text-align: center;
    width: 100px;
}

.price {
    display: block;
    font-weight: 500;
    font-size: 30px;
}

.buyBtn {
    border-radius: 10px;
    width: 120px;
    color: white;
    font-size: 15px;
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 20px;
}

.buyBtn img {
    width: 25px;
    height: 25px;
    margin-right: 10px;   
}

.buyBtn:hover {
    opacity: 0.8;
}

.buyBtn:active {
    background-color: white;
    color: black;
    opacity: 1;
}