.cart {
    width: 100%;
    margin-top: 30px; 
}

.cartTitle {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}
.cartTitle h2 {
    font-size: 25px;
    font-weight: 500;
    margin-left: 50px;
}

.cartInner {
    min-height: 500px;
}

.cartItemsList {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.cartBottom {
    margin: 0 auto;
    max-width: 1000px;
    height: 80px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buyButton {
    background-color: black;
    padding: 5px 20px ;
    color: white;
    height: 40px;
    margin-left: auto;
    margin-right: 80px;
    font-weight: 600;
    font-size: 20px;
}
.backButton {
    margin-left: 20px;
}
.totalPrice {
    margin-right: 20px;
    font-size: 28px;
}