.cartItem {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 253, 227);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    margin-top: 10px;
}

.cartItemTop {
    display: flex;
    justify-content: space-between;
}

.cartImageBlock {
    box-sizing: border-box;
    height: 100px;
    width: 120px;
    display: flex;
    justify-content: center;
    margin-right: 5px;
}

.cartItemImage {
    width: 100%;

    object-fit: contain;
    display: flex;
    justify-content: center;
}

.cartItemTitle {
    max-width: 500px;
}

.deleteCartItem {
    box-sizing: border-box;
    width: 40px;
    display: flex;
    height: 40px;
    margin-left: 10px;
    padding: 8px;
    border-radius: 20px;
    transition: background-color 0.6s ease;
}

.deleteCartItem img {
    width: 100%;
    opacity: 0.3;
    transition: opacity 0.6s ease;
}

.deleteCartItem:hover {
    background-color: lightgray;
}

.deleteCartItem:active {
    margin-top: 2px;
}

.deleteCartItem img:hover {
    opacity: 1;
}

.cartItemBottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}


.countPanel {
    width: 130px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: 100px;
}

.countPanel input {
    width: 30px;
    outline: none;
}

.countButton {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.countButton:hover {
    opacity: 1;
}

.countButton:active {
    margin-top: 5px;
}
.inactiveButton {
    color: gray;
    background-color: lightgray;
    cursor: default;
}

.price {
    text-align: center;
    width: 100px;
    margin: auto 0;
}