.cartItem {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 253, 227);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    margin-top: 10px;
}

.cartItemTop {
    display: flex;
    justify-content: space-between;
}

.cartImageBlock {
    height: 100px;
    max-width: 150px;
    display: flex;
    justify-content: center;
    margin-right: 5px;
}

.cartItemImage {
    width: 100%;
    object-fit: contain;
}

.deleteCartItem {
    box-sizing: border-box;
    width: 40px;
    display: flex;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
    padding: 8px;
    opacity: 0.3;
    border-radius: 20px;
    transition: background-color 0.6s ease;
}
.deleteCartItem img {
    width: 100%;    
}
.deleteCartItem:hover {
    background-color: lightgray;
    opacity: 1;
}

.cartItemBottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}


.countPanel {
    width: 250px;
}

.countPanel input{
    width: 30px;
    outline: none;
}

.cartItemBottom button {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
}

