
html {
    box-sizing: border-box;
}
button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
html,
body {
    height: 100%;

}
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}
.header {
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    
}
h1, h2, h3, h4, h5, h6 {
    margin: 0; 
    padding: 0; 
}
ul {
    padding-inline-start: 0;
}
.loadingBlock {
    width: 100px;
    margin: 200px auto;
}
.loadingIcon {
    width: 100%;
    display: block;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); } /* Начальная позиция */
    100% { transform: rotate(360deg); } /* Конечная позиция */
}

