.itemRating {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.itemCode {
    font-size: 15px;
    color: grey;
}
.reviewsLink {
    font-size: 15px;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 4px;
    cursor: pointer;
}
.reviewsLink:hover {
    color: brown;
}